.layout_container {
  overflow-x: hidden;
  overflow-y: auto;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.layout_content {
  height: calc(100% - 95px);
  max-width: 1600px;
  width: 90vw;
  /* margin: 0 5vw; */
  margin: 0 auto;
  position: relative;
  margin-top: 95px;
}
